*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: #f6f6f6
}

a{
    list-style: none;
    text-decoration: none;
}

.orangeText, .orangeText:hover{
    color: orange;
}

.blueText, .blueText:hover{
    color: #0000ff;
}

nav{
    background: white;
    height: 80px;
    width: 82%;
    display: flex;
    margin-left: 160px;
    justify-content: space-between;
    border-bottom: #333 solid 1px;
}

label.logo{
    color: black;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: black;
    font-size: 17px;
    
}

nav ul li a:hover{
    text-decoration: none;
    color: black
    
}

.hiddenText{
    display: none;
}

.right-side{
    margin-left: 200px;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.main-content{
    background: white;
    height: 1200px;
    width: 82%;
    display: flex;
    margin-left: 160px;
    border-bottom: #333 solid 1px;
}

.main-content img{
    width: 1332px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    height: 847px;
}

.text{
    color: #ff764d;
    font-size: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


@media (max-width: 952px){
    label.logo{
        font-size: 25px;
        padding-left: 50px;
    }

    nav{
        width: 100%;
        display: flex;
        margin: auto;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){

    nav{
        width: 100%;
        background:#0000ff;
        border: none;
        display: flex;
        margin: auto;
    }

    .checkbtn{
        display: block;
        color: white;
    }

    .hiddenText{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #0000ff;
        top: 80px;
        left: -200%;
        text-align: left;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 5px;
    }

    nav ul li a{
        font-size: 20px;
        color: white;
    }

    .blueText{
        color: white;
    }

    #check:checked ~ ul{
        left: 0;
    }

}